{% extends 'home/insightmatrix.html' %}

{% block content %}
  <h2>Start a new project</h2>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <table class="table" id="label_table">
      {{ project.management_form }}
      {% for form in project.forms %}
        {% if forloop.first %}
          <thead>
            <tr>
              {% for field in form.visible_fields %}
                <th>{{ field.label|capfirst }}</th>
              {% endfor %}
            </tr>
          </thead>
        {% endif %}
        <tr>
          {% for field in form.visible_fields %}
            <td>
              {# Include the hidden fields in the form #}
              {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
              {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <input type="submit" value="Save"/> 
    <button id="add-item" type="button">Add Label</button>
  </form>
  <p><a href="/">back to the list</a></p>
  <div id="item-tpl" style="display: none;">
    <tr>
      <td>
        <input id="id_labels-nnnn-id" type="hidden" name="labels-nnnn-id">
        <input id="id_labels-nnnn-project" type="hidden" name="labels-nnnn-project">
        <input id="id_labels-nnnn-name" type="text" name="labels-nnnn-name" maxlength="200">
      </td>
    </tr>
  </div>
{% endblock %}
